* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --dc-primary: rgba(2,130,249);
  --dc-dark: rgba(28,28,28);
  --dc-dark_grey: rgba(48,48,48);
  --dc-light_grey: rgba(102,102,102);
  --dc-light: rgba(255,255,255);
  --dc-lighter_primary: rgba(39,138,249);
  --dc-darker_primary: rgba(26,104,232);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--dc-dark);
}

.container{
  width: 100%;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

[class^="col-"]{
  padding: 1rem;
}

.col-12{
  width: 100%;
}

.list-unstyled{
  list-style: none;
}




/* Media Query */

@media screen and (min-width: 568px) {
  .container {
    width: 80%;
    max-width: 520px;
    margin: auto;
  }

  .row{
    margin: 0 -1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-6 {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 920px;
  }

  .col-lg-4 {
    width: calc(100% / 12 * 4);
  }
}